.header__logout {
    display: flex;
    align-items: center;
    justify-content: right;
}

.header__logout--item {
    margin-right: 200px;
    /* margin-bottom: -90px; */
    /* margin-top: px; */
    background-color: #f4f4f4;
    box-shadow: none;
    width: 60px;
    height: 20px;
    color: #e6a65874;
    border: 1px solid #e6a65874;
    text-align: center;
}

.admin {
    background:#fff;
    /* height: 1230px; */
    border-top: 0.5px solid #d5cabb8a;

}

.admin__logo {
    color: #6f5b40;
    /* margin: 0 auto; */
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
    margin: 0 auto;

}

.admin-choice {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    gap:30px;
    margin: 0 auto;
}

.admin-choice__item {
    height: 35px;
    width: 250px;
    background-color: #f4f4f4;
    box-shadow: none;
    border: 1px solid #8c6b4085;
    color: #6f5b40;
    padding-left: 20px;
}

.admin-choice--item-gender {
    height: 35px;
    width: 60px;
    background-color:#f4f4f494;
    border: 1px solid #8c6b4085;
    border-radius:0px;
    box-shadow: none;
    appearance: none;
    color: #6f5b40;
    padding-left: 20px;
}
.admin-choice--item-kinds {
    width: 150px;
    background-color: #f4f4f494;
    border:1px solid #8c6b4085;
    border-radius: 0px;
    appearance: none;
    color: #6f5b40;
    padding-left: 30px;
}

.admin-choice--item-input {
    background-color: #f4f4f494;
    color: #6f5b40;
}
.admin-choice--item-search {
    background-color: #6f5b40;
    color:#fff ;
    box-shadow: none;
    width: 70px;
    border: #6f5b40;
}
.admin-choice--item-reset {
    background-color: #b793618a;
    color: #fff;
    border: #b793618a;
    box-shadow: none;
    width: 70px;
}

.admin-center {
    display: flex;
    justify-content: center;
}

.admin-center__item-export {
    width: 90px;
    height: 30px;
    background-color: #e8e2dbcc;
    border: #93836d;
    color: #6f5b40;
    margin-right: 739px;
    margin-top: 30px;
}
.admin-table {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 85%;
    margin-left: 75px;
    margin-right: 60px;

}
.admin-table__header {
    background-color: #82735f;
    margin-left: 60px;
    margin-right: 60px;
    width: 900px;
    height: 50px;
    font-family: "BIZ UDGothic", sans-serif;
    font-weight: 400;
}
.admin-table__header-span {
    color: #fff;
    margin-left: 70px;
}

.admin-table__header-span1 {
    color: #fff;
    margin-left: -200px;
}