/* .header__register {
    display: flex;
    align-items: center;
    justify-content: right;
} */

.header__register--item {
    margin-right: 200px;
    /* margin-bottom: -90px; */
    /* margin-top: px; */
    background-color: #f4f4f4;
    box-shadow: none;
    width: 60px;
    height: 20px;
    color: #e6a65874;
    border: 1px solid #e6a65874;
    text-align: center;
}

.header__register-button {
    text-decoration: none;
    color: #e6a65874;
}

/* .login {
    background: #d5cabb8a;
    height: 100%;
    margin: 0 auto;

} */
.content {
    background-color: #f1ece7;
}


.login__logo {
    color: #6f5b40;
    /* margin: 0 auto; */
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
}

.login__content {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #9c897174;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.login-form {
    line-height: -50px;
    margin-left: -40px;
}

.login-form--item {
    width: 200px;
    color: #6f5b40;
    margin: 10px;
}

.login-form__input-item {
    height: 35px;
    width: 250px;
    background-color: #f4f4f4;
    border: #f4f4f4 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: none;
    color: #9c897174;
    padding-left: 5px;
}

.form__label {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
}

.form-login__error{
    color:red;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.login__button-submit {
    background-color: #644d2eb6;
    border: #644d2eb6 0px solid;
    width: 80px;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 20px;
    box-shadow: none;
    cursor: pointer;
}